<section id="about" class="about-user">
  <h2 class="title-heading">About me</h2>
    <div class="about">
        <div>
          <p>
            Hi, I'm Yang. I became interested in programming because I 
            liked video games a lot when I was young. I was always 
            interested in how things worked behind those amazing gameplays.
            After getting my degree in Computer Science I came to Canada to study Game Development.
            I worked a year as a junior game developer after I graduated from 
            St. Lawrence College. After years of non-stop school and work, I decided
            to take a break and reconsider my career. Then I came across web development.
            With the fundamentals of programming and the help of all the open-source frameworks and tools, I soon found buiding websites interesting and fun.
          </p>
        </div>
        <div>
          <div>
            <p>Here are a few tools I've been working with recently:</p>
            <br />
          </div>
          <div>
            <ul class="skills-list" *ngFor="let item of (about$ | async)">
              <li *ngFor="let listItem of item.tools">
                {{listItem}}
              </li>
            </ul>
          </div>
        </div>
    </div>
</section>
