<footer class="footer">
  <ul class="social-links">
    <li>
      <a href="https://github.com/yangryu321" target="_blank" aria-label="GitHub">
        <i-feather class="icon" name="Github"></i-feather>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/shiyang-liu-70b288140/" target="_blank" aria-label="Linkedin">
        <i-feather class="icon" name="LinkedIn"></i-feather>
      </a>
    </li>
  </ul>

  <div class="credits">
    <p>"Programming is like playing Street Fighter" - Yang</p>
  </div>
</footer>