<section class="main-section">
  <p class="sec__heading">Hi, my name is</p>
  <div class="heading">
    <h1 class="name__heading">Shiyang Liu. You can call me Yang.</h1>
    <h1 class="role__heading">I am a software developer.</h1>
  </div>
  <p class="sec__desc" >
    Based in Toronto, Canada. After taking a break from game development, I'm now on the way exploring the fun of building websites. I'm interestd in new technologies and I believe in logics. I also like Street Fighter lol.
  </p>
  <div class="btn-container">
    <a class="btn" href="/assets/RESUME_p 2.docx">Resume</a>
  </div>
</section>
